.DS_Store
*.log
*.tsbuildinfo

dist/
node_modules/
.eslintcache

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Yarn
.yarn/*
.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/patches
